<div class="page">
    <nav class="menu"> 
        <ul class="menu__list">
            <li class="menu__group"><a href="/" class="menu__link">Home</a></li>
            <li class="menu__group"><a href="./wind" class="menu__link">Wind Speed</a></li>
            <li class="menu__group"><a href="./future" class="menu__link">Future Weather</a></li>
            <li class="menu__group"><a href="./about" class="menu__link">About</a></li>
        </ul>
    </nav>
</div>