<div class="mainContainer">
    <div class="container">
        <h1> About the weather App</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, est ipsa. Officiis ex deserunt alias error, quia optio, ullam rerum animi recusandae, nisi quae eveniet! Repellat facilis porro neque consequuntur!</p>
    </div>
</div>