<div class="mainContainer">
    <div class="container">
        <h1>Predicted Weather</h1>
        <div class="weatherInfo">
            <form action="/future" method="POST">
                <label for="location">Location: </label>
                <input class="input" type="text" name="location">
                <br>
                <label for="days">Days: </label>
                <input class="input" type="text" name="days">
                <br>
                <input class="btn" type="submit" value="send">
            </form>
            {{!-- for each item in data(object) --}}
            <ul class="list"> 
                {{#each data}} 
                    <li class="list">{{@key}} : {{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>